.container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.circle {
  margin: 30px;
  height: 200px;
  width: 300px;
  background-image: radial-gradient(circle closest-side at 270px 50px, red 50%, transparent 100%), radial-gradient(300px 20px at center bottom, black 80%, #dae4ff 90%, transparent 250%);
  /* 
    closest-side：渐变范围到最近的框即可
    farthest-side 最远的边作为终止位置
    closest-corner: 最近的角
    farthest-corner：最远的角
    您可以将每个径向渐变的最后一站设置为transparent 0。浏览器会将 0 更正为与上一个参数的距离相同，
    */
}
@keyframes circle2Keyframes {
  0% {
    --my-percentage-1: 0%;
  }
  50% {
    --my-percentage-1: 10%;
  }
  100% {
    --my-percentage-1: 0%;
  }
}
.circle2 {
  margin: 30px;
  height: 200px;
  width: 300px;
  background-image: radial-gradient(circle closest-side at 270px 50px, red 50%, transparent 100%), radial-gradient(300px 20px at center bottom, black 80%, #dae4ff 90%, transparent 250%);
  /* 
    closest-side：渐变范围到最近的框即可
    farthest-side 最远的边作为终止位置
    closest-corner: 最近的角
    farthest-corner：最远的角
    您可以将每个径向渐变的最后一站设置为transparent 0。浏览器会将 0 更正为与上一个参数的距离相同，
    */
  --my-percentage-1: 0%;
  background-image: radial-gradient(closest-side at 50% 20%, gold 1%, lightyellow calc(70% - var(--my-percentage-1)), white calc(81% - var(--my-percentage-1)), transparent 0), radial-gradient(closest-side at 50% 70%, black 1%, grey calc(70% + var(--my-percentage-1)), grey calc(81% + var(--my-percentage-1)), transparent 500%);
  animation: circle2Keyframes 1.5s infinite ease-in;
}
